body{
    background: #c5c5c5;
}

header{
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../img/elephant-1822636.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 472px) {
    #donate i{
      display: none;
        
    }

}


